/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container {
	width: 877px;
	margin: auto;
}

header nav {
	display: inline-block;
	margin-bottom: 50px;
}

header nav a {
	margin: 25px;
	color: gray;
	text-decoration-line: none;
	vertical-align: 10px;
}

header nav a:hover {
	color: black;
}

header .logo {
	display: inline-block;
	margin-left: 50px;
}

.banner {
	display: inline-block;
	vertical-align: 50px;
	margin-left: 100px;
}

.banner h1 {
	vertical-align:;
	font-size: 70px;
	text-align: center;
	
}


.banner .button {
	border: 2px solid gray;
	box-sizing: border-box;
	display: inline-block;
	padding: 3px 25px;
	margin-left: 75px;
	text-decoration-line: none;
}

.banner .button:hover {
	color: white;
	background: black;
}


.circlecode {
	display: inline-block;
	width: 350px;
	margin-left: 125px;
}

.content {
	border-top: 2px solid black;
	margin-top: 100px;
	border-bottom: 2px solid black;
	padding-bottom: 50px;
}

.features {
	width: 50%;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 25px;
}

.about {
	display: inline-block;
	width: 49%;
}

.services {
	margin-top: 40px;
	display: inline-block;
	width: 33%;
}

.product {
	display: inline-block;
	width: 33%
}

.vision {
	display: inline-block;
	width: 33%;
}

.contact {
	margin-top: 30px;
}

footer {
	margin-top: 75px;
	text-align: center;
}